<!DOCTYPE html>
<html>
  <head>
    <title>Dev</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", home_index_path %> |
      <%= link_to "FAQ", home_faq_path %> |
      <%= link_to "About us", home_aboutus_path %> |
      <%= link_to "Conatact us", home_contactus_path %>
    </nav>
    <%= yield %>
  </body>
</html>
